<ion-content>
  <ion-card class="custom-card-upper">
    <ion-card-header>
      <ion-card-title>Manejo de datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aviso importante: Al cargar un nuevo archivo Excel, por favor, asegúrese de que contenga el mismo número de columnas que el archivo anterior para garantizar la compatibilidad.</p>
      <div class="file-upload-container">
        <input type="file" id="fileUpload" (change)="onFileChange($event)" style="display: none;" />
        <label for="fileUpload" class="custom-upload-button">SUBIR DATOS</label>
      </div>
      <ion-button class="custom-button" expand="full" shape="round" outline="fill" (click)="uploadToFirebase()">Subir a Firebase</ion-button>
      <ion-button class="custom-button" expand="full" shape="round" outline="fill" (click)="recargar()">Actualizar datos</ion-button>
      <ion-button class="custom-button" expand="full" shape="round" outline="fill" (click)="eliminarFirebase()">Eliminar datos</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Datos subidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button class="custom-button" expand="full" shape="round" outline="full" (click)="exportarExcel()">Exportar a excel</ion-button>
      <table class="custom-table" id="xlsx_tabla">
        <thead>
          <tr>
            <!-- Generar encabezados dinámicamente -->
            <th *ngFor="let column of columns">
              {{ column }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of excelData; let i = index" [class.alternate-row]="i % 2 !== 0">
            <!-- Generar celdas dinámicamente -->
            <td *ngFor="let column of columns">
              <!-- Si la columna es 'asistencia', mostrar un checkbox -->
              <ion-checkbox *ngIf="column === 'asistencia'" [(ngModel)]="row[column]" [disabled]="true"></ion-checkbox>
              <!-- Para otras columnas, mostrar los valores -->
              <span *ngIf="column !== 'asistencia'">
                {{ row[column] }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
