#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-tab-bar {
  background-color: #ff2222; /* Cambia el color de fondo de los tabs */
}

ion-tab-button {
  --color: white; /* Color del texto no seleccionado */
  --color-selected: #578ad6; /* Color del texto seleccionado */
  --background: transparent; /* Asegúrate de que el fondo sea transparente */
  --background-focused: transparent; /* Fondo al enfocar el tab */
}